* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  color: #344563;
}

body {
  width: fit-content;
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

header {
  background-color: white;
  width: 100%;
}

.backgroundimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 0 0 0 120px;
  height: 680px;
  width: 100%;
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px auto;
  background-color: white;
  border-radius: 16px;
  width: 86%;
  height: fit-content;
  padding: 24px 30px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
}

.topic {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #172b4d;
  line-height: 44px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sub-topic {
  margin-bottom: 10px;
}

.sub-topic span {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.sub-topic span:first-child {
  color: #344563;
}

.rest {
  display: none;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  margin: 8px 18px;
  align-items: center;
  width: 375px;
  height: 48px;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

nav img {
  margin-right: 50px;
  display: grid;
  width: 25px;
}

.introduction {
  margin-top: 100px;
  width: 300px;
  height: 300px 0 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.topicItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  color: #344563;
  margin: 12px 14px;
  width: 70%;
  font-size: 18px;
}

.menuSection {
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
  margin-bottom: 36px;
  display: grid;
  grid-template-rows: auto auto;
  padding: 8px 0 0 3px;
}

.backgroundimg .menuSection {
  width: 60%;
}

.myself hr {
  width: 76%;
  color: rgba(221, 221, 221, 0.604);
}

.Whoiam {
  width: 327px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.socialMedia {
  width: 170.17px;
  height: 20px;
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #7a869a;
  border-radius: 50%;
  display: inline-block;
}

.description {
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 15px;
}

.button-links {
  margin-bottom: 35px;
}

ul {
  list-style-type: none;
}

.button-links ul {
  list-style-type: none;
  display: flex;
  color: #6977ff;
}

.button-links li {
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 5px;
}

.project {
  align-items: center;
  padding: 16px;
  color: #396df2;
  width: 110px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 10px;
}

.project2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #396df2;
  width: 200px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 10px;
}

.project:hover,
.project2:hover {
  color: white;
  background-color: #396df2;
  transition: all 0.2s ease-in;
}

.languages li {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 70px;
  padding: 5px;
  font-size: 12px;
  color: #172b4d;
}

.languages li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 8px;
}

.item {
  border-bottom: 2px solid #f7f7f9;
  margin-left: 20px;
}

.footer {
  background-image: url(./image/footer-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-repeat: no-repeat;
  width: 100%;
  padding: 80px 0 0 0;
}

.contact-me {
  text-align: center;
  color: #fff;
  width: 200px;
  margin-bottom: 16px;
}

.input-li input {
  height: 30px;
  width: 247px;
  margin-bottom: 10px;
  border: 1px solid #cfd8dc;
  padding-left: 6px;
}

textarea {
  height: 150px;
  width: 247px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  resize: none;
}

.submit-li button {
  width: 90px;
  height: 30px;
  border-radius: 8px;
  border: 5px solid #6070ff;
  transition-duration: 0.9s;
  cursor: pointer;
  background-color: white;
  color: #6070ff;
  text-decoration: none;
}

.submit-li button :hover {
  color: white;
  background-color: blue;
}

.arrow {
  height: 18px;
  width: 18px;
}

.arrow2 {
  height: 18px;
  width: 18px;
}

.popDesc li {
  margin: 10px;
}

.langTags li {
  margin: 3px;
  padding: 5px;
  border-radius: 6px;
  background-color: lightblue;
}

.small-screen {
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.632);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.small-menu {
  align-items: center;
  color: white;
  font-size: 32px;
}

.small-menu li {
  margin: 20px;
  padding-left: 30px;
}

.small-menu li a {
  font-size: 28px;
  color: white;
  font-weight: 700;
}

.small-menu li:first-child {
  text-align: right;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
}

.onion {
  cursor: pointer;
}

#popUps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06204d3a;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 13;
}

.popContent {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  padding: 20px;
  background-color: white;
  border-radius: 18px;
  font-size: 11px;
}

.popHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.popHeading h3:last-child {
  cursor: pointer;
}

.popDesc {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.popImg {
  height: 290px;
  width: 100%;
}

.popDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  width: 100%;
  text-align: justify;
}

.popDetails > .lang,
.popDetails > p {
  width: 100%;
}

.languages {
  width: 50%;
}

/*
header
*/

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 0 0 0;
  }

  body {
    width: 100%;
  }

  .menuSection1 {
    display: inline-block;
  }

  .onion {
    display: none;
    cursor: pointer;
  }

  .rest {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    color: #344563;
  }

  .introduction {
    width: 320px;
  }

  .Whoiam {
    width: 700px;
  }

  .card {
    display: flex;
  }

  .card img {
    width: 500px;
    margin-right: 30px;
  }

  .myself {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 190px 40px 10px 40px;
    margin-bottom: 0;
    border-radius: 0 180px 0 0;
  }

  .left {
    width: 600px;
    padding-left: 60px;
  }

  .skills {
    width: 60%;
    margin-left: 60px;
    margin-right: 50px;
  }

  .myself li ul {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
  }

  .languages li {
    width: 300px;
    height: 70px;
  }

  .item {
    font-size: 17px;
    font-weight: 400;
  }

  .contact-me {
    width: 400px;
  }

  .input-li input {
    width: 347px;
  }

  textarea {
    width: 347px;
  }

  .submit-li {
    display: flex;
    justify-content: center;
  }

  .popContent {
    width: 640px;
    height: fit-content;
  }

  .popHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .popHeading h3:last-child {
    cursor: pointer;
  }

  .popDesc {
    flex-direction: row;
    width: 100%;
  }

  .popImg {
    height: 290px;
    width: 90%;
  }

  .popDetails {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .popDetails > p {
    width: 62%;
  }

  .popDetails > .lang {
    width: 36%;
  }

  .languages {
    width: 50%;
  }
}

.seeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  border: 1px solid blue;
  border-radius: 6px;
  padding: 5px;
  margin: 6px;
  background-color: white;
  font-size: 10px;
  transition: all 0.3s ease;
}

.seeBtn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.langTags {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.popBtns {
  display: flex;
  flex-flow: row wrap;
}

#error {
  color: red;
  font-weight: 700;
}
